.config/nvim/plugged
.config/lazygit/state.yml
.config/google-chrome*
.config/mimeapps.list
.config/pulse
.config/htop
.config/BraveSoftware
.config/1Password/*
!.config/1Password/settings
.config/BraveSoftware
.config/chromium
.config/microsoft-edge-dev
.config/vivaldi*
.config/dconf
.config/ibus*
alacritty.toml
.config/go/telemetry/local
.config/user-dirs.dirs
.config/user-dirs.locale
.config/op/config
.config/gcloud
.config/menus/applications-merged
