.config/nvim/plugged
.config/lazygit/state.yml
.config/google-chrome*
.config/mimeapps.list
.config/pulse
.config/htop
.config/BraveSoftware
.config/1Password/*
!.config/1Password/settings
.config/BraveSoftware
.config/chromium
.config/microsoft-edge-dev
.config/vivaldi*
.config/dconf
.config/ibus*
alacritty.toml
.config/go/telemetry/local
.config/user-dirs.dirs
.config/user-dirs.locale
.config/op/config
.config/gcloud
.config/menus/applications-merged
.config/Slack
.config/spotify
.config/swiftpm
.config/ghostty/config
.config/op/plugins/used_items
.config/op/plugins/gh.json
.config/environment.d/iswork.conf
.config/drata-agent
.config/1Password/settings/settings.json
.config/helm
.ssh/id_ed25519_sk*
.config/Code
.config/Headlamp
.config/yarn/global/node_modules/@aws-crypto/crc32/node_modules/@aws-sdk/types
.config/yarn/global
.ssh/known_hosts
