.config/nvim/plugged
.config/lazygit/state.yml
.config/google-chrome*
.config/mimeapps.list
.config/pulse
.config/htop
.config/BraveSoftware
.config/1Password/*
!.config/1Password/settings
.config/BraveSoftware
.config/chromium
.config/microsoft-edge-dev
.config/vivaldi*
.config/dconf
.config/ibus*
alacritty.toml
