@import "mocha.css";

* {
  font-family: JetBrainsMonoNL Nerd Font;
  font-size: 14px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
}

#workspaces {
  border-radius: 0rem;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 0rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
}

#workspaces button:hover {
  color: @sapphire;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 1rem;
}

#clock {
  color: @blue;
  border-radius: 0px 0rem 0rem 0px;
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 0rem 0px 0px 0rem;
  margin-left: 1rem;
}

#custom-music {
  color: @mauve;
  border-radius: 0rem;
}

#custom-lock {
  border-radius: 0rem 0px 0px 0rem;
  color: @lavender;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 0rem 0rem 0px;
  color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 0rem;
}
