<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>write.zellij.session</string>

    <key>ProgramArguments</key>
    <array>
      <string>/Users/jimmy/dotfiles/.config/alacritty/write-current-zellij-session.sh</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/write.zellij.session.out</string>

    <key>StandardErrorPath</key>
    <string>/tmp/write.zellij.session.err</string>
  </dict>
</plist>

